<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<style>
    table {
      width: 80%;
      border-collapse: collapse; /* 테두리 겹침 제거 */
      margin: 20px 20px 20px 0;
    }

    th, td {
      border: 1px solid #333;
      padding: 12px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f9f9f9;
    }

    caption {
      caption-side: top;
      font-weight: bold;
      font-size: 1.2em;
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
	<div th:replace="fragments/menu :: sidebar"></div>
	<div style="margin-left: 220px; padding: 20px;">
	<h1>Show Need Answer</h1>
	<hr>
	
	<table border = "1">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>카테고리</th>
				<th>답변여부</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each=" b : ${bList}">
				<td th:text="${b.bid}"></td>
				<td>
					<a th:text="${b.title}" 
					   th:href="@{/admin/showDetailQna/{title}(title=${b.title})}">
					</a>
				</td>
				<td th:text="${b.writer.username}"></td>
				<td th:text="${b.category}"></td>
				<td th:text="${b.isAnswered}"></td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>